COMPOSE_PROJECT_NAME=dogforce-odoo-dev
ODOO_VERSION=19.0
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
ODOO_DB=dogforce_dev
ODOO_ADMIN_PASSWORD=admin
ODOO_PORT=8069
ODOO_LONGPOLLING_PORT=8072
